{
  "openapi": "3.0.1",
  "info": {
    "title": "玩Android开放API",
    "description": "基于 https://wanandroid.com/blog/show/2 的开放API文档。所有接口基础路径为 https://wanandroid.com ，请使用HTTPS协议。\n\n## 通用说明\n\n### 返回数据结构\n所有接口返回结构均为：\n```json\n{\n  \"data\": ...,\n  \"errorCode\": 0,\n  \"errorMsg\": \"\"\n}\n```\n\n### 错误码说明\n| errorCode | 含义 |\n|-----------|------|\n| 0 | 请求成功 |\n| -1 | 通用错误（参数错误、操作失败等） |\n| -1001 | 未登录或登录已失效，需重新登录 |\n\n> 建议对 errorCode 判断：当不为0时均视为错误。不建议依赖任何非0的 errorCode。\n\n### 分页说明\n- 部分接口页码从 **0** 开始（首页文章列表、收藏列表、广场列表、搜索等）\n- 部分接口页码从 **1** 开始（项目列表、公众号文章、积分排行、问答等）\n- 支持 `page_size` 参数的接口：取值范围 [1-40]，不传使用默认值；一旦传入，后续分页都需带上，否则会读取错误\n\n### 登录认证\n- 需登录的接口通过 Cookie 认证，登录后 Cookie 中包含账号密码\n- 客户端需做 Cookie 持久化存储即可实现自动登录\n- 未登录访问需认证接口返回 `errorCode: -1001`\n\n### author 与 shareUser\n- 网站上的文章可能由作者 author 撰写，也可能由分享人 shareUser 分享\n- 如果是分享人分享的，author 为空字符串\n- 除标题、链接外，其他字段都可能为空，需注意布局处理",
    "version": "2.0.0"
  },
  "tags": [
    { "name": "首页" },
    { "name": "体系" },
    { "name": "导航" },
    { "name": "项目" },
    { "name": "登录注册" },
    { "name": "收藏" },
    { "name": "搜索" },
    { "name": "广场" },
    { "name": "问答" },
    { "name": "公众号" },
    { "name": "积分" },
    { "name": "消息" },
    { "name": "教程" },
    { "name": "其他" },
    { "name": "需登录" },
    { "name": "分页" }
  ],
  "servers": [
    {
      "url": "https://wanandroid.com",
      "description": "正式环境（请优先使用，不要带www）"
    }
  ],
  "paths": {
    "/article/list/{page}/json": {
      "get": {
        "summary": "首页文章列表",
        "description": "首页文章列表，页码从0开始。\n\n该接口支持传入 `page_size` 控制分页数量，取值为[1-40]，不传则使用默认值，一旦传入了 `page_size`，后续该接口分页都需要带上，否则会造成分页读取错误。\n\n注意：superChapterId 其实不是一级分类id，因为要拼接跳转url，内容实际都挂在二级分类下，所以该id实际上是一级分类的第一个子类目的id。\n\n很多 H5 页面会恶意跳转淘宝等，可以在 webview 的 shouldOverrideUrlLoading 中做拦截。",
        "tags": ["首页", "分页"],
        "parameters": [
          {
            "name": "page",
            "in": "path",
            "description": "页码，从0开始",
            "required": true,
            "example": 0,
            "schema": { "type": "integer" }
          },
          {
            "name": "cid",
            "in": "query",
            "description": "分类ID（体系二级目录的id）",
            "required": false,
            "example": "60",
            "schema": { "type": "integer" }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "分页大小 1-40",
            "required": false,
            "example": 30,
            "schema": { "type": "integer" }
          },
          {
            "name": "author",
            "in": "query",
            "description": "作者昵称，不支持模糊匹配",
            "required": false,
            "example": "鸿洋",
            "schema": { "type": "string" }
          },
          {
            "name": "order_type",
            "in": "query",
            "description": "排序类型，1为按目录正序（教程场景使用）",
            "required": false,
            "schema": { "type": "integer", "enum": [1] }
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArticlePageResult"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/banner/json": {
      "get": {
        "summary": "首页Banner",
        "description": "首页Banner列表",
        "tags": ["首页"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/Banner" }
                    },
                    "errorCode": { "$ref": "#/components/schemas/ErrorCode" },
                    "errorMsg": { "type": "string" }
                  },
                  "required": ["errorCode", "errorMsg"]
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/friend/json": {
      "get": {
        "summary": "常用网站",
        "description": "常用网站列表",
        "tags": ["首页"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/FriendLink" }
                    },
                    "errorCode": { "$ref": "#/components/schemas/ErrorCode" },
                    "errorMsg": { "type": "string" }
                  },
                  "required": ["errorCode", "errorMsg"]
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/hotkey/json": {
      "get": {
        "summary": "搜索热词",
        "description": "目前搜索最多的关键词",
        "tags": ["搜索"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/HotKeyword" }
                    },
                    "errorCode": { "$ref": "#/components/schemas/ErrorCode" },
                    "errorMsg": { "type": "string" }
                  },
                  "required": ["errorCode", "errorMsg"]
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/article/top/json": {
      "get": {
        "summary": "置顶文章",
        "description": "首页置顶文章列表",
        "tags": ["首页"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/Article" }
                    },
                    "errorCode": { "$ref": "#/components/schemas/ErrorCode" },
                    "errorMsg": { "type": "string" }
                  },
                  "required": ["errorCode", "errorMsg"]
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/tree/json": {
      "get": {
        "summary": "体系数据",
        "description": "体系数据，二级目录结构。id 字段在查看该目录下所有文章时会使用。",
        "tags": ["体系"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/Tree" },
                      "title": "数据"
                    },
                    "errorCode": { "$ref": "#/components/schemas/ErrorCode" },
                    "errorMsg": { "type": "string" }
                  },
                  "required": ["errorCode", "errorMsg"]
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/navi/json": {
      "get": {
        "summary": "导航数据",
        "description": "导航数据列表",
        "tags": ["导航"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/NavInfo" },
                      "title": "数据"
                    },
                    "errorCode": { "$ref": "#/components/schemas/ErrorCode" },
                    "errorMsg": { "type": "string" }
                  },
                  "required": ["errorCode", "errorMsg"]
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/project/tree/json": {
      "get": {
        "summary": "项目分类",
        "description": "项目分类列表，id 字段在获取该分类下项目时需要用到",
        "tags": ["项目"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/Chapter" },
                      "title": "数据"
                    },
                    "errorCode": { "$ref": "#/components/schemas/ErrorCode" },
                    "errorMsg": { "type": "string" }
                  },
                  "required": ["errorCode", "errorMsg"]
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/project/list/{page}/json": {
      "get": {
        "summary": "项目列表数据",
        "description": "某一个分类下项目列表数据，页码从1开始。\n\n该接口支持传入 `page_size` 控制分页数量，取值为[1-40]。",
        "tags": ["项目", "分页"],
        "parameters": [
          {
            "name": "page",
            "in": "path",
            "description": "页码，从1开始",
            "required": true,
            "example": 1,
            "schema": { "type": "integer" }
          },
          {
            "name": "cid",
            "in": "query",
            "description": "分类ID",
            "required": false,
            "example": 294,
            "schema": { "type": "integer" }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "分页大小 1-40",
            "required": false,
            "example": 20,
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ArticlePageResult" }
              }
            }
          }
        },
        "security": []
      }
    },
    "/user/login": {
      "post": {
        "summary": "登录",
        "description": "登录后会在cookie中返回账号密码，只要在客户端做cookie持久化存储即可自动登录验证。",
        "tags": ["登录注册"],
        "parameters": [],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "username": {
                    "description": "用户名",
                    "example": "Jacknic",
                    "type": "string"
                  },
                  "password": {
                    "description": "密码",
                    "example": "xxxxxxx",
                    "type": "string"
                  }
                },
                "required": ["username", "password"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "$ref": "#/components/schemas/UserInfo" },
                    "errorCode": { "$ref": "#/components/schemas/ErrorCode" },
                    "errorMsg": { "type": "string" }
                  },
                  "required": ["errorCode", "errorMsg"]
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/user/register": {
      "post": {
        "summary": "注册",
        "description": "注册新用户",
        "tags": ["登录注册"],
        "parameters": [],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "username": {
                    "description": "用户名",
                    "example": "Jacknic",
                    "type": "string"
                  },
                  "password": {
                    "description": "密码",
                    "example": "xxxxxx",
                    "type": "string"
                  },
                  "repassword": {
                    "description": "确认密码",
                    "example": "xxxxxx",
                    "type": "string"
                  }
                },
                "required": ["username", "password", "repassword"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "title": "数据",
                      "nullable": true,
                      "oneOf": [
                        { "$ref": "#/components/schemas/UserInfo" },
                        { "type": "string" }
                      ]
                    },
                    "errorCode": { "$ref": "#/components/schemas/ErrorCode" },
                    "errorMsg": { "type": "string" }
                  },
                  "required": ["errorCode", "errorMsg"]
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/user/logout/json": {
      "get": {
        "summary": "退出登录",
        "description": "访问后服务端会让客户端清除Cookie（cookie max-Age=0）。如果客户端Cookie实现合理，可以实现自动清理；如果本地做了用户账号密码保存，需及时清理。",
        "tags": ["登录注册", "需登录"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/WanResult" }
              }
            }
          }
        },
        "security": []
      }
    },
    "/lg/collect/list/{page}/json": {
      "get": {
        "summary": "收藏文章列表",
        "description": "已收藏的文章列表，页码从0开始。\n\n该接口支持传入 `page_size` 控制分页数量，取值为[1-40]。",
        "tags": ["收藏", "分页", "需登录"],
        "parameters": [
          {
            "name": "page",
            "in": "path",
            "description": "页码，从0开始",
            "required": true,
            "example": 0,
            "schema": { "type": "integer" }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "分页大小 1-40",
            "required": false,
            "example": 20,
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ArticlePageResult" }
              }
            }
          }
        },
        "security": []
      }
    },
    "/lg/collect/{article_id}/json": {
      "post": {
        "summary": "收藏站内文章",
        "description": "收藏站内文章，文章ID拼接在URL中。",
        "tags": ["收藏", "需登录"],
        "parameters": [
          {
            "name": "article_id",
            "in": "path",
            "description": "文章ID",
            "required": true,
            "example": 1165,
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/WanResult" }
              }
            }
          }
        },
        "security": []
      }
    },
    "/lg/collect/add/json": {
      "post": {
        "summary": "收藏站外文章",
        "description": "收藏站外文章",
        "tags": ["收藏", "需登录"],
        "parameters": [],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "description": "标题",
                    "example": "开发指南",
                    "type": "string"
                  },
                  "author": {
                    "description": "作者",
                    "example": "Jacknic",
                    "type": "string"
                  },
                  "link": {
                    "description": "链接地址",
                    "example": "https://jacknic.com/",
                    "type": "string"
                  }
                },
                "required": ["title", "link"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/WanResult" }
              }
            }
          }
        },
        "security": []
      }
    },
    "/lg/collect/user_article/update/{article_id}/json": {
      "post": {
        "summary": "编辑收藏的文章",
        "description": "编辑收藏的文章，支持站内和站外。调用此接口时一定要带上 title、link、author，否则会认为想设置为空字符串。",
        "tags": ["收藏", "需登录"],
        "parameters": [
          {
            "name": "article_id",
            "in": "path",
            "description": "文章ID",
            "required": true,
            "schema": { "type": "integer" }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "description": "标题",
                    "example": "开发指南",
                    "type": "string"
                  },
                  "author": {
                    "description": "作者",
                    "example": "Jacknic",
                    "type": "string"
                  },
                  "link": {
                    "description": "链接地址",
                    "example": "https://jacknic.com/",
                    "type": "string"
                  }
                },
                "required": ["title", "link", "author"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/WanResult" }
              }
            }
          }
        },
        "security": []
      }
    },
    "/lg/uncollect_originId/{article_id}/json": {
      "post": {
        "summary": "取消收藏-文章列表",
        "description": "在文章列表中取消收藏，id传入的是列表中文章的id。",
        "tags": ["收藏", "需登录"],
        "parameters": [
          {
            "name": "article_id",
            "in": "path",
            "description": "文章ID",
            "required": true,
            "example": 2333,
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/WanResult" }
              }
            }
          }
        },
        "security": []
      }
    },
    "/lg/uncollect/{collec_id}/json": {
      "post": {
        "summary": "取消收藏-我的收藏页面",
        "description": "在我的收藏页面取消收藏。originId代表收藏之前那篇文章本身的id；收藏支持主动添加，这种情况下没有originId则传-1。",
        "tags": ["收藏", "需登录"],
        "parameters": [
          {
            "name": "collec_id",
            "in": "path",
            "description": "收藏ID",
            "required": true,
            "example": 123,
            "schema": { "type": "integer" }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "originId": {
                    "description": "原文章ID，无则为-1",
                    "type": "integer",
                    "example": -1
                  }
                },
                "required": ["originId"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/WanResult" }
              }
            }
          }
        },
        "security": []
      }
    },
    "/lg/collect/usertools/json": {
      "get": {
        "summary": "收藏网站列表",
        "description": "获取收藏的网站列表",
        "tags": ["收藏", "需登录"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/CollectTool" }
                    },
                    "errorCode": { "$ref": "#/components/schemas/ErrorCode" },
                    "errorMsg": { "type": "string" }
                  },
                  "required": ["errorCode", "errorMsg"]
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/lg/collect/addtool/json": {
      "post": {
        "summary": "收藏网址",
        "description": "收藏一个网址",
        "tags": ["收藏", "需登录"],
        "parameters": [],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "description": "网站名称",
                    "example": "GitHub",
                    "type": "string"
                  },
                  "link": {
                    "description": "链接地址",
                    "example": "https://github.com/",
                    "type": "string"
                  }
                },
                "required": ["name", "link"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/WanResult" }
              }
            }
          }
        },
        "security": []
      }
    },
    "/lg/collect/updatetool/json": {
      "post": {
        "summary": "编辑收藏网址",
        "description": "编辑已收藏的网址",
        "tags": ["收藏", "需登录"],
        "parameters": [],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "description": "网站名称",
                    "example": "GitHub",
                    "type": "string"
                  },
                  "link": {
                    "description": "链接地址",
                    "example": "https://github.com/",
                    "type": "string"
                  },
                  "id": {
                    "description": "收藏ID",
                    "example": 123,
                    "type": "integer"
                  }
                },
                "required": ["id", "name", "link"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/WanResult" }
              }
            }
          }
        },
        "security": []
      }
    },
    "/lg/collect/deletetool/json": {
      "post": {
        "summary": "删除收藏网址",
        "description": "删除已收藏的网址",
        "tags": ["收藏", "需登录"],
        "parameters": [],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "description": "收藏ID",
                    "example": 123,
                    "type": "integer"
                  }
                },
                "required": ["id"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/WanResult" }
              }
            }
          }
        },
        "security": []
      }
    },
    "/article/query/{page}/json": {
      "post": {
        "summary": "搜索",
        "description": "搜索文章，页码从0开始。支持多个关键词，用空格隔开。\n\n该接口支持传入 `page_size` 控制分页数量，取值为[1-40]。",
        "tags": ["搜索", "分页"],
        "parameters": [
          {
            "name": "page",
            "in": "path",
            "description": "页码，从0开始",
            "required": true,
            "example": 0,
            "schema": { "type": "integer" }
          },
          {
            "name": "k",
            "in": "query",
            "description": "搜索关键词，多个关键词用空格隔开",
            "required": true,
            "example": "Android",
            "schema": { "type": "string" }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "分页大小 1-40",
            "required": false,
            "example": 30,
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ArticlePageResult" }
              }
            }
          }
        },
        "security": []
      }
    },
    "/coin/rank/{page}/json": {
      "get": {
        "summary": "积分排行榜",
        "description": "积分排行榜，页码从1开始",
        "tags": ["积分", "分页"],
        "parameters": [
          {
            "name": "page",
            "in": "path",
            "description": "页码，从1开始",
            "required": true,
            "example": 1,
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/RankPageData"
                    },
                    "errorCode": { "$ref": "#/components/schemas/ErrorCode" },
                    "errorMsg": { "type": "string" }
                  },
                  "required": ["errorCode", "errorMsg"]
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/lg/coin/userinfo/json": {
      "get": {
        "summary": "获取个人积分",
        "description": "获取个人积分，需要登录后访问",
        "tags": ["积分", "需登录"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "$ref": "#/components/schemas/CoinInfo" },
                    "errorCode": { "$ref": "#/components/schemas/ErrorCode" },
                    "errorMsg": { "type": "string" }
                  },
                  "required": ["errorCode", "errorMsg"]
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/lg/coin/list/{page}/json": {
      "get": {
        "summary": "获取个人积分获取列表",
        "description": "获取个人积分获取记录列表，需要登录后访问，页码从1开始。\n\n该接口支持传入 `page_size` 控制分页数量，取值为[1-40]。",
        "tags": ["积分", "分页", "需登录"],
        "parameters": [
          {
            "name": "page",
            "in": "path",
            "description": "页码，从1开始",
            "required": true,
            "example": 1,
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "$ref": "#/components/schemas/CoinDetailPageData" },
                    "errorCode": { "$ref": "#/components/schemas/ErrorCode" },
                    "errorMsg": { "type": "string" }
                  },
                  "required": ["errorCode", "errorMsg"]
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/user_article/list/{page}/json": {
      "get": {
        "summary": "广场列表数据",
        "description": "广场列表数据，页码从0开始。\n\n该接口支持传入 `page_size` 控制分页数量，取值为[1-40]，不传则使用默认值，一旦传入了 `page_size`，后续该接口分页都需要带上，否则会造成分页读取错误。\n\n可能出现返回列表数据小于每页数据，因为有自见的文章被过滤掉了。",
        "tags": ["广场", "分页"],
        "parameters": [
          {
            "name": "page",
            "in": "path",
            "description": "页码，从0开始",
            "required": true,
            "example": 0,
            "schema": { "type": "integer" }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "分页大小 1-40",
            "required": false,
            "example": 20,
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ArticlePageResult" }
              }
            }
          }
        },
        "security": []
      }
    },
    "/user/{user_id}/share_articles/{page}/json": {
      "get": {
        "summary": "分享人对应列表数据",
        "description": "展示的文章数据都是审核通过的，一般是点击分享人然后展示的列表。页码从1开始。",
        "tags": ["广场", "分页"],
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "description": "用户ID",
            "required": true,
            "example": 2,
            "schema": { "type": "integer" }
          },
          {
            "name": "page",
            "in": "path",
            "description": "页码，从1开始",
            "required": true,
            "example": 1,
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "$ref": "#/components/schemas/ShareArticles" },
                    "errorCode": { "$ref": "#/components/schemas/ErrorCode" },
                    "errorMsg": { "type": "string" }
                  },
                  "required": ["errorCode", "errorMsg"]
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/user/lg/private_articles/{page}/json": {
      "get": {
        "summary": "自己的分享文章列表",
        "description": "获取自己分享的文章列表，页码从1开始。\n\n该接口支持传入 `page_size` 控制分页数量，取值为[1-40]，不传则使用默认值，一旦传入了 `page_size`，后续该接口分页都需要带上，否则会造成分页读取错误。",
        "tags": ["广场", "分页", "需登录"],
        "parameters": [
          {
            "name": "page",
            "in": "path",
            "description": "页码，从1开始",
            "required": true,
            "example": 1,
            "schema": { "type": "integer" }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "分页大小 1-40",
            "required": false,
            "example": 20,
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ArticlePageResult" }
              }
            }
          }
        },
        "security": []
      }
    },
    "/lg/user_article/delete/{article_id}/json": {
      "post": {
        "summary": "删除自己分享的文章",
        "description": "删除自己分享的文章，需要登录",
        "tags": ["广场", "需登录"],
        "parameters": [
          {
            "name": "article_id",
            "in": "path",
            "description": "文章ID",
            "required": true,
            "example": 9475,
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/WanResult" }
              }
            }
          }
        },
        "security": []
      }
    },
    "/lg/user_article/add/json": {
      "post": {
        "summary": "分享文章",
        "description": "分享文章到广场。如果为CSDN、简书等链接会直接通过审核，在对外的分享文章列表中展示。否则只能在自己的分享文章列表查看。",
        "tags": ["广场", "需登录"],
        "parameters": [],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "description": "标题",
                    "example": "Android基础开发指南",
                    "type": "string"
                  },
                  "link": {
                    "description": "链接地址",
                    "example": "https://github.com/Jacknic",
                    "type": "string"
                  }
                },
                "required": ["title", "link"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/WanResult" }
              }
            }
          }
        },
        "security": []
      }
    },
    "/wenda/list/{page}/json": {
      "get": {
        "summary": "问答列表",
        "description": "问答列表，页码从1开始。\n\n该接口支持传入 `page_size` 控制分页数量，取值为[1-40]。",
        "tags": ["问答", "分页"],
        "parameters": [
          {
            "name": "page",
            "in": "path",
            "description": "页码，从1开始",
            "required": true,
            "example": 1,
            "schema": { "type": "integer" }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "分页大小 1-40",
            "required": false,
            "example": 30,
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ArticlePageResult" }
              }
            }
          }
        },
        "security": []
      }
    },
    "/wenda/comments/{wenda_id}/json": {
      "get": {
        "summary": "问答评论列表",
        "description": "返回问答的评论列表，默认以点赞数倒序排列，如果当前用户登录，则本人评论会置顶。注意拿到的对象中id为评论id，后续回复、删除都会依赖。",
        "tags": ["问答"],
        "parameters": [
          {
            "name": "wenda_id",
            "in": "path",
            "description": "问答ID",
            "required": true,
            "example": 25098,
            "schema": { "type": "integer" }
          },
          {
            "name": "page",
            "in": "query",
            "description": "页码",
            "required": false,
            "example": 0,
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "curPage": { "type": "integer", "title": "当前页" },
                        "datas": {
                          "type": "array",
                          "items": { "$ref": "#/components/schemas/WendaComment" },
                          "title": "评论列表"
                        },
                        "offset": { "type": "integer", "title": "数据偏移量" },
                        "over": { "type": "boolean", "title": "是否已越界" },
                        "pageCount": { "type": "integer", "title": "分页总数" },
                        "size": { "type": "integer", "title": "分页大小" },
                        "total": { "type": "integer", "title": "数据总数" }
                      },
                      "required": ["curPage", "datas", "offset", "over", "pageCount", "size", "total"]
                    },
                    "errorCode": { "$ref": "#/components/schemas/ErrorCode" },
                    "errorMsg": { "type": "string" }
                  },
                  "required": ["errorCode", "errorMsg"]
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/user/lg/userinfo/json": {
      "get": {
        "summary": "个人信息接口",
        "description": "获取当前登录用户的个人信息，包含积分信息和用户信息。积分和排名可能不是实时的，每天更新。",
        "tags": ["登录注册", "需登录"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "$ref": "#/components/schemas/PersonalInfo" },
                    "errorCode": { "$ref": "#/components/schemas/ErrorCode" },
                    "errorMsg": { "type": "string" }
                  },
                  "required": ["errorCode", "errorMsg"]
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/message/lg/count_unread/json": {
      "get": {
        "summary": "未读消息数量",
        "description": "返回当前登录用户未读消息数量。需要登录。",
        "tags": ["消息", "需登录"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "integer",
                      "title": "未读消息数量"
                    },
                    "errorCode": { "$ref": "#/components/schemas/ErrorCode" },
                    "errorMsg": { "type": "string" }
                  },
                  "required": ["errorCode", "errorMsg"]
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/message/lg/readed_list/{page}/json": {
      "get": {
        "summary": "已读消息列表",
        "description": "返回当前登录用户已读消息列表，分页展示。页码从1开始。\n\n该接口支持传入 `page_size` 控制分页数量，取值为[1-40]。",
        "tags": ["消息", "需登录", "分页"],
        "parameters": [
          {
            "name": "page",
            "in": "path",
            "description": "页码，从1开始",
            "required": true,
            "example": 1,
            "schema": { "type": "integer" }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "分页大小 1-40",
            "required": false,
            "example": 30,
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "$ref": "#/components/schemas/MessagePageData" },
                    "errorCode": { "$ref": "#/components/schemas/ErrorCode" },
                    "errorMsg": { "type": "string" }
                  },
                  "required": ["errorCode", "errorMsg"]
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/message/lg/unread_list/{page}/json": {
      "get": {
        "summary": "未读消息列表",
        "description": "返回当前登录用户未读消息列表，分页展示。页码从1开始。\n\n**注意**：此接口一旦访问，则所有该用户的消息都会被认为已读，即第二次只能从已读消息列表获取。想获取未读数量不要访问此接口，请使用 `/message/lg/count_unread/json`。\n\n该接口支持传入 `page_size` 控制分页数量，取值为[1-40]。",
        "tags": ["消息", "需登录", "分页"],
        "parameters": [
          {
            "name": "page",
            "in": "path",
            "description": "页码，从1开始",
            "required": true,
            "example": 1,
            "schema": { "type": "integer" }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "分页大小 1-40",
            "required": false,
            "example": 30,
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "$ref": "#/components/schemas/MessagePageData" },
                    "errorCode": { "$ref": "#/components/schemas/ErrorCode" },
                    "errorMsg": { "type": "string" }
                  },
                  "required": ["errorCode", "errorMsg"]
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/wxarticle/chapters/json": {
      "get": {
        "summary": "获取公众号列表",
        "description": "获取微信公众号列表",
        "tags": ["公众号"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/WxArticleChapter" }
                    },
                    "errorCode": { "$ref": "#/components/schemas/ErrorCode" },
                    "errorMsg": { "type": "string" }
                  },
                  "required": ["errorCode", "errorMsg"]
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/wxarticle/list/{wx_id}/{page}/json": {
      "get": {
        "summary": "查看公众号历史数据/搜索历史文章",
        "description": "查看某个公众号历史数据，页码从1开始。可选传入关键词k搜索历史文章。\n\n该接口支持传入 `page_size` 控制分页数量，取值为[1-40]。",
        "tags": ["公众号", "分页"],
        "parameters": [
          {
            "name": "wx_id",
            "in": "path",
            "description": "公众号ID",
            "required": true,
            "example": 408,
            "schema": { "type": "integer" }
          },
          {
            "name": "page",
            "in": "path",
            "description": "页码，从1开始",
            "required": true,
            "example": 1,
            "schema": { "type": "integer" }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "分页大小 1-40",
            "required": false,
            "example": 20,
            "schema": { "type": "integer" }
          },
          {
            "name": "k",
            "in": "query",
            "description": "搜索关键词",
            "required": false,
            "example": "kotlin",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ArticlePageResult" }
              }
            }
          }
        },
        "security": []
      }
    },
    "/article/listproject/{page}/json": {
      "get": {
        "summary": "最新项目列表",
        "description": "按时间分页展示所有项目，页码从0开始。\n\n该接口支持传入 `page_size` 控制分页数量，取值为[1-40]。",
        "tags": ["项目", "分页"],
        "parameters": [
          {
            "name": "page",
            "in": "path",
            "description": "页码，从0开始",
            "required": true,
            "example": 0,
            "schema": { "type": "integer" }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "分页大小 1-40",
            "required": false,
            "example": 20,
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ArticlePageResult" }
              }
            }
          }
        },
        "security": []
      }
    },
    "/chapter/547/sublist/json": {
      "get": {
        "summary": "教程列表",
        "description": "教程列表，547是固定值不会变化。",
        "tags": ["教程"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/CourseInfo" },
                      "title": "数据"
                    },
                    "errorCode": { "$ref": "#/components/schemas/ErrorCode" },
                    "errorMsg": { "type": "string" }
                  },
                  "required": ["errorCode", "errorMsg"]
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/harmony/index/json": {
      "get": {
        "summary": "鸿蒙专栏",
        "description": "鸿蒙专栏数据，分别对应常用链接(links)、开源项目(open_sources)、常用工具(tools)。最终对象可复用 Chapter、Article bean。",
        "tags": ["其他"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "links": {
                          "type": "array",
                          "items": { "$ref": "#/components/schemas/Chapter" },
                          "description": "常用链接"
                        },
                        "open_sources": {
                          "type": "array",
                          "items": { "$ref": "#/components/schemas/Chapter" },
                          "description": "开源项目"
                        },
                        "tools": {
                          "type": "array",
                          "items": { "$ref": "#/components/schemas/Chapter" },
                          "description": "常用工具"
                        }
                      }
                    },
                    "errorCode": { "$ref": "#/components/schemas/ErrorCode" },
                    "errorMsg": { "type": "string" }
                  },
                  "required": ["errorCode", "errorMsg"]
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/popular/wenda/json": {
      "get": {
        "summary": "最受欢迎-问答",
        "description": "首页最受欢迎板块-问答",
        "tags": ["首页"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/Chapter" }
                    },
                    "errorCode": { "$ref": "#/components/schemas/ErrorCode" },
                    "errorMsg": { "type": "string" }
                  },
                  "required": ["errorCode", "errorMsg"]
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/popular/column/json": {
      "get": {
        "summary": "最受欢迎-专栏",
        "description": "首页最受欢迎板块-专栏",
        "tags": ["首页"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/Chapter" }
                    },
                    "errorCode": { "$ref": "#/components/schemas/ErrorCode" },
                    "errorMsg": { "type": "string" }
                  },
                  "required": ["errorCode", "errorMsg"]
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/popular/route/json": {
      "get": {
        "summary": "最受欢迎-路线",
        "description": "首页最受欢迎板块-路线",
        "tags": ["首页"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/Chapter" }
                    },
                    "errorCode": { "$ref": "#/components/schemas/ErrorCode" },
                    "errorMsg": { "type": "string" }
                  },
                  "required": ["errorCode", "errorMsg"]
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/tools/list/json": {
      "get": {
        "summary": "工具列表",
        "description": "工具列表接口。注意：单个工具的详情页可能没有适配移动端。",
        "tags": ["其他"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/ToolItem" }
                    },
                    "errorCode": { "$ref": "#/components/schemas/ErrorCode" },
                    "errorMsg": { "type": "string" }
                  },
                  "required": ["errorCode", "errorMsg"]
                }
              }
            }
          }
        },
        "security": []
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorCode": {
        "type": "integer",
        "title": "响应码",
        "description": "0 为正常返回；-1 为通用错误；-1001 为未登录或登录失效",
        "enum": [0, -1, -1001]
      },
      "Article": {
        "type": "object",
        "properties": {
          "adminAdd": {
            "type": "boolean",
            "title": "管理员添加标志"
          },
          "apkLink": {
            "type": "string",
            "title": "APK下载链接"
          },
          "audit": {
            "type": "integer",
            "title": "审核状态"
          },
          "author": {
            "type": "string",
            "title": "作者",
            "description": "文章作者，如果为分享人分享的文章则为空字符串"
          },
          "canEdit": {
            "type": "boolean",
            "title": "是否可编辑"
          },
          "chapterId": {
            "type": "integer",
            "title": "章节ID"
          },
          "chapterName": {
            "type": "string",
            "title": "章节名称"
          },
          "collect": {
            "type": "boolean",
            "title": "是否已收藏"
          },
          "courseId": {
            "type": "integer",
            "title": "教程ID"
          },
          "desc": {
            "type": "string",
            "title": "描述"
          },
          "descMd": {
            "type": "string",
            "title": "描述(Markdown格式)"
          },
          "envelopePic": {
            "type": "string",
            "title": "封面图"
          },
          "fresh": {
            "type": "boolean",
            "title": "是否为新发布"
          },
          "host": {
            "type": "string",
            "title": "来源Host"
          },
          "id": {
            "type": "integer",
            "title": "文章ID"
          },
          "isAdminAdd": {
            "type": "boolean",
            "title": "是否为管理员添加"
          },
          "link": {
            "type": "string",
            "title": "文章链接"
          },
          "niceDate": {
            "type": "string",
            "title": "友好发布时间",
            "description": "如'2天前'、'2023-10-25 08:34'"
          },
          "niceShareDate": {
            "type": "string",
            "title": "友好分享时间"
          },
          "origin": {
            "type": "string",
            "title": "来源"
          },
          "prefix": {
            "type": "string",
            "title": "前缀"
          },
          "projectLink": {
            "type": "string",
            "title": "项目链接"
          },
          "publishTime": {
            "type": "integer",
            "title": "发布时间(时间戳毫秒)",
            "description": "Unix时间戳，毫秒级"
          },
          "realSuperChapterId": {
            "type": "integer",
            "title": "真实父级分类ID"
          },
          "selfVisible": {
            "type": "integer",
            "title": "自身可见性"
          },
          "shareDate": {
            "type": "integer",
            "title": "分享时间(时间戳毫秒)",
            "nullable": true,
            "description": "可能为null"
          },
          "shareUser": {
            "type": "string",
            "title": "分享人",
            "description": "分享该文章的用户名，如果非分享文章则为空字符串"
          },
          "superChapterId": {
            "type": "integer",
            "title": "父级分类ID",
            "description": "注意：此id实际是一级分类的第一个子类目的id，不是一级分类id本身"
          },
          "superChapterName": {
            "type": "string",
            "title": "父级分类名称",
            "description": "一级分类的名称"
          },
          "tags": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/ArticleTag" },
            "title": "附加标签信息"
          },
          "title": {
            "type": "string",
            "title": "标题"
          },
          "type": {
            "type": "integer",
            "title": "类型",
            "description": "0为普通文章"
          },
          "userId": {
            "type": "integer",
            "title": "用户ID"
          },
          "visible": {
            "type": "integer",
            "title": "可见性",
            "description": "0为不可见，1为可见"
          },
          "zan": {
            "type": "integer",
            "title": "点赞数"
          }
        },
        "required": [
          "adminAdd", "audit", "author", "canEdit", "chapterId", "chapterName",
          "collect", "courseId", "desc", "descMd", "envelopePic", "fresh",
          "host", "id", "isAdminAdd", "link", "niceDate", "niceShareDate",
          "origin", "prefix", "projectLink", "publishTime", "realSuperChapterId",
          "selfVisible", "shareDate", "shareUser", "superChapterId",
          "superChapterName", "tags", "title", "type", "userId", "visible",
          "zan", "apkLink"
        ],
        "title": "文章信息"
      },
      "ArticleTag": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "title": "标签名称"
          },
          "url": {
            "type": "string",
            "title": "标签链接"
          }
        },
        "title": "文章标签"
      },
      "Banner": {
        "type": "object",
        "properties": {
          "desc": {
            "type": "string",
            "title": "描述信息"
          },
          "id": {
            "type": "integer",
            "title": "ID"
          },
          "imagePath": {
            "type": "string",
            "title": "图片路径"
          },
          "isVisible": {
            "type": "integer",
            "title": "是否可见",
            "description": "1为可见"
          },
          "order": {
            "type": "integer",
            "title": "排序"
          },
          "title": {
            "type": "string",
            "title": "标题"
          },
          "type": {
            "type": "integer",
            "title": "类型",
            "description": "0为内部跳转，1为外部链接"
          },
          "url": {
            "type": "string",
            "title": "链接URL"
          }
        },
        "required": ["desc", "id", "imagePath", "isVisible", "order", "title", "type", "url"],
        "title": "首页Banner"
      },
      "Rank": {
        "type": "object",
        "properties": {
          "coinCount": {
            "type": "integer",
            "title": "总积分"
          },
          "level": {
            "type": "integer",
            "title": "用户等级"
          },
          "nickname": {
            "type": "string",
            "title": "昵称"
          },
          "rank": {
            "type": "string",
            "title": "排名",
            "description": "注意类型为string"
          },
          "userId": {
            "type": "integer",
            "title": "用户ID"
          },
          "username": {
            "type": "string",
            "title": "用户名"
          }
        },
        "required": ["coinCount", "level", "nickname", "rank", "userId", "username"],
        "title": "积分排行"
      },
      "FriendLink": {
        "type": "object",
        "properties": {
          "category": {
            "type": "string",
            "title": "分类"
          },
          "icon": {
            "type": "string",
            "title": "图标"
          },
          "id": {
            "type": "integer",
            "title": "友链ID"
          },
          "link": {
            "type": "string",
            "title": "链接"
          },
          "name": {
            "type": "string",
            "title": "名称"
          },
          "order": {
            "type": "integer",
            "title": "排序"
          },
          "visible": {
            "type": "integer",
            "title": "可见性",
            "description": "1为可见"
          }
        },
        "required": ["category", "icon", "id", "link", "name", "order", "visible"],
        "title": "常用网站"
      },
      "HotKeyword": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "title": "热词ID"
          },
          "link": {
            "type": "string",
            "nullable": true,
            "title": "链接"
          },
          "name": {
            "type": "string",
            "title": "热词值"
          },
          "order": {
            "type": "integer",
            "title": "排序"
          },
          "visible": {
            "type": "integer",
            "title": "可见标志"
          }
        },
        "required": ["id", "name", "order", "visible"],
        "title": "搜索热词"
      },
      "Chapter": {
        "type": "object",
        "properties": {
          "articleList": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Article" },
            "title": "文章列表"
          },
          "author": {
            "type": "string",
            "title": "作者"
          },
          "children": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Chapter" },
            "title": "子分类"
          },
          "courseId": {
            "type": "integer",
            "title": "课程ID"
          },
          "cover": {
            "type": "string",
            "title": "封面图"
          },
          "desc": {
            "type": "string",
            "title": "描述"
          },
          "id": {
            "type": "integer",
            "title": "分类ID",
            "description": "查看该分类下文章时需要用到"
          },
          "lisense": {
            "type": "string",
            "title": "许可证"
          },
          "lisenseLink": {
            "type": "string",
            "title": "许可证链接"
          },
          "name": {
            "type": "string",
            "title": "分类名称"
          },
          "order": {
            "type": "integer",
            "title": "排序"
          },
          "parentChapterId": {
            "type": "integer",
            "title": "父级分类ID",
            "description": "0表示顶级分类"
          },
          "type": {
            "type": "integer",
            "title": "类型"
          },
          "userControlSetTop": {
            "type": "boolean",
            "title": "用户是否可置顶"
          },
          "visible": {
            "type": "integer",
            "title": "可见性",
            "description": "0为不可见，1为可见"
          }
        },
        "required": [
          "articleList", "author", "children", "courseId", "cover", "desc",
          "id", "lisense", "lisenseLink", "name", "order", "parentChapterId",
          "type", "userControlSetTop", "visible"
        ],
        "title": "分类/章节"
      },
      "Tree": {
        "type": "object",
        "description": "体系数据，继承自Chapter结构",
        "properties": {
          "articleList": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Article" }
          },
          "author": { "type": "string" },
          "children": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Chapter" },
            "description": "二级目录"
          },
          "courseId": { "type": "integer" },
          "cover": { "type": "string" },
          "desc": { "type": "string" },
          "id": {
            "type": "integer",
            "description": "查看该目录下所有文章时有用"
          },
          "lisense": { "type": "string" },
          "lisenseLink": { "type": "string" },
          "name": { "type": "string", "description": "一级分类名称" },
          "order": { "type": "integer" },
          "parentChapterId": { "type": "integer", "description": "0表示顶级" },
          "type": { "type": "integer" },
          "userControlSetTop": { "type": "boolean" },
          "visible": { "type": "integer" }
        },
        "required": [
          "articleList", "author", "children", "courseId", "cover", "desc",
          "id", "lisense", "lisenseLink", "name", "order", "parentChapterId",
          "type", "userControlSetTop", "visible"
        ],
        "title": "体系"
      },
      "NavInfo": {
        "type": "object",
        "properties": {
          "articles": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Article" },
            "title": "文章列表"
          },
          "cid": {
            "type": "integer",
            "title": "分类ID"
          },
          "name": {
            "type": "string",
            "title": "分类名称"
          }
        },
        "required": ["articles", "cid", "name"],
        "title": "导航信息"
      },
      "CoinInfo": {
        "type": "object",
        "properties": {
          "coinCount": {
            "description": "总积分",
            "type": "integer",
            "title": "总积分"
          },
          "level": {
            "type": "integer",
            "title": "等级"
          },
          "rank": {
            "type": "string",
            "title": "当前排名",
            "description": "注意类型为string"
          },
          "userId": {
            "type": "integer",
            "description": "用户ID",
            "title": "用户ID"
          },
          "username": {
            "type": "string",
            "description": "用户名",
            "title": "用户名"
          },
          "nickname": {
            "type": "string",
            "title": "昵称",
            "description": "可能为空字符串"
          }
        },
        "required": ["coinCount", "rank", "userId", "username", "level"],
        "title": "个人积分信息"
      },
      "CoinDetail": {
        "type": "object",
        "properties": {
          "coinCount": {
            "type": "integer",
            "title": "积分变动值"
          },
          "date": {
            "type": "string",
            "title": "日期",
            "description": "如'2023-10-29 08:34'"
          },
          "desc": {
            "type": "string",
            "title": "描述",
            "description": "积分获取原因"
          },
          "id": {
            "type": "integer",
            "title": "记录ID"
          },
          "level": {
            "type": "integer",
            "title": "等级"
          },
          "reason": {
            "type": "string",
            "title": "原因"
          },
          "type": {
            "type": "integer",
            "title": "类型",
            "description": "1为加分，-1为扣分"
          },
          "userId": {
            "type": "integer",
            "title": "用户ID"
          },
          "username": {
            "type": "string",
            "title": "用户名"
          }
        },
        "required": ["coinCount", "date", "desc", "id", "reason", "type", "userId", "username"],
        "title": "积分明细"
      },
      "ShareArticles": {
        "type": "object",
        "properties": {
          "coinInfo": {
            "$ref": "#/components/schemas/CoinInfo",
            "title": "该用户积分信息"
          },
          "shareArticles": {
            "$ref": "#/components/schemas/ArticlePageData",
            "title": "该用户分享文章分页信息"
          }
        },
        "required": ["coinInfo", "shareArticles"],
        "title": "分享文章信息"
      },
      "UserInfo": {
        "type": "object",
        "properties": {
          "admin": {
            "type": "boolean",
            "title": "是否管理员"
          },
          "chapterTops": {
            "type": "array",
            "items": { "type": "string" },
            "title": "置顶章节"
          },
          "coinCount": {
            "description": "可用积分",
            "type": "integer"
          },
          "collectIds": {
            "type": "array",
            "items": { "type": "integer" },
            "description": "已收藏文章ID列表"
          },
          "email": {
            "description": "邮箱",
            "type": "string"
          },
          "icon": {
            "type": "string",
            "title": "头像"
          },
          "id": {
            "description": "用户ID",
            "type": "integer"
          },
          "nickname": {
            "description": "昵称",
            "type": "string"
          },
          "password": {
            "type": "string",
            "title": "密码（脱敏）"
          },
          "publicName": {
            "type": "string",
            "title": "公开名称"
          },
          "token": {
            "type": "string",
            "title": "认证Token"
          },
          "type": {
            "type": "integer",
            "title": "用户类型"
          },
          "username": {
            "description": "用户名",
            "type": "string"
          }
        },
        "required": [
          "admin", "chapterTops", "coinCount", "collectIds", "email", "icon",
          "id", "nickname", "password", "publicName", "token", "type", "username"
        ],
        "title": "用户信息"
      },
      "PersonalInfo": {
        "type": "object",
        "properties": {
          "coinInfo": {
            "$ref": "#/components/schemas/CoinInfo",
            "title": "积分信息"
          },
          "userInfo": {
            "$ref": "#/components/schemas/UserInfo",
            "title": "用户信息"
          }
        },
        "required": ["coinInfo", "userInfo"],
        "title": "用户个人信息"
      },
      "WendaComment": {
        "type": "object",
        "properties": {
          "anonymous": {
            "type": "integer",
            "title": "是否匿名",
            "description": "0为非匿名"
          },
          "appendForContent": {
            "type": "integer",
            "title": "追加评论标志"
          },
          "articleId": {
            "type": "integer",
            "title": "文章ID"
          },
          "canEdit": {
            "type": "boolean",
            "title": "是否可编辑"
          },
          "content": {
            "type": "string",
            "title": "评论内容"
          },
          "contentMd": {
            "type": "string",
            "title": "评论内容(Markdown)"
          },
          "id": {
            "type": "integer",
            "title": "评论ID",
            "description": "后续回复、删除都依赖此ID"
          },
          "niceDate": {
            "type": "string",
            "title": "友好时间"
          },
          "publishDate": {
            "type": "integer",
            "title": "发布时间(时间戳)"
          },
          "replyCommentId": {
            "type": "integer",
            "title": "回复的评论ID"
          },
          "replyComments": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/WendaComment" },
            "title": "回复评论列表"
          },
          "rootCommentId": {
            "type": "integer",
            "title": "根评论ID"
          },
          "status": {
            "type": "integer",
            "title": "状态"
          },
          "toUserId": {
            "type": "integer",
            "title": "被回复用户ID"
          },
          "toUserName": {
            "type": "string",
            "title": "被回复用户名"
          },
          "userId": {
            "type": "integer",
            "title": "评论者用户ID"
          },
          "userName": {
            "type": "string",
            "title": "评论者用户名"
          },
          "zan": {
            "type": "integer",
            "title": "点赞数"
          }
        },
        "required": [
          "anonymous", "appendForContent", "articleId", "canEdit", "content",
          "contentMd", "id", "niceDate", "publishDate", "replyCommentId",
          "replyComments", "rootCommentId", "status", "toUserId", "toUserName",
          "userId", "userName", "zan"
        ],
        "title": "问答评论"
      },
      "CourseInfo": {
        "type": "object",
        "properties": {
          "author": {
            "type": "string",
            "title": "作者"
          },
          "children": {
            "type": "array",
            "items": { "type": "string" },
            "title": "下属文章"
          },
          "courseId": {
            "type": "integer",
            "title": "课程ID"
          },
          "cover": {
            "type": "string",
            "title": "封面图"
          },
          "desc": {
            "type": "string",
            "title": "描述"
          },
          "id": {
            "description": "单个教程下所有文章列表会使用到此ID",
            "type": "integer",
            "title": "教程ID"
          },
          "lisense": {
            "type": "string",
            "title": "许可证"
          },
          "lisenseLink": {
            "type": "string",
            "title": "许可证链接"
          },
          "name": {
            "type": "string",
            "title": "教程名称"
          },
          "order": {
            "type": "integer",
            "title": "排序"
          },
          "parentChapterId": {
            "type": "integer",
            "title": "父级分类ID"
          },
          "userControlSetTop": {
            "type": "boolean",
            "title": "用户是否可置顶"
          },
          "visible": {
            "type": "integer",
            "title": "可见性"
          }
        },
        "required": [
          "author", "children", "courseId", "cover", "desc", "id", "lisense",
          "lisenseLink", "name", "order", "parentChapterId", "userControlSetTop", "visible"
        ],
        "title": "教程信息"
      },
      "WxArticleChapter": {
        "type": "object",
        "properties": {
          "articleList": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Article" }
          },
          "author": { "type": "string" },
          "children": {
            "type": "array",
            "items": { "type": "string" }
          },
          "courseId": { "type": "integer" },
          "cover": { "type": "string" },
          "desc": { "type": "string" },
          "id": {
            "type": "integer",
            "title": "公众号ID",
            "description": "用于查询该公众号历史文章"
          },
          "lisense": { "type": "string" },
          "lisenseLink": { "type": "string" },
          "name": {
            "type": "string",
            "title": "公众号名称"
          },
          "order": { "type": "integer" },
          "parentChapterId": { "type": "integer" },
          "type": { "type": "integer" },
          "userControlSetTop": { "type": "boolean" },
          "visible": { "type": "integer" }
        },
        "required": [
          "articleList", "author", "children", "courseId", "cover", "desc",
          "id", "lisense", "lisenseLink", "name", "order", "parentChapterId",
          "type", "userControlSetTop", "visible"
        ],
        "title": "公众号信息"
      },
      "CollectTool": {
        "type": "object",
        "properties": {
          "desc": {
            "type": "string",
            "title": "描述"
          },
          "icon": {
            "type": "string",
            "title": "图标"
          },
          "id": {
            "type": "integer",
            "title": "收藏ID"
          },
          "link": {
            "type": "string",
            "title": "链接"
          },
          "name": {
            "type": "string",
            "title": "名称"
          },
          "order": {
            "type": "integer",
            "title": "排序"
          },
          "userId": {
            "type": "integer",
            "title": "用户ID"
          },
          "visible": {
            "type": "integer",
            "title": "可见性"
          }
        },
        "required": ["id", "name", "link"],
        "title": "收藏的网址"
      },
      "Message": {
        "type": "object",
        "properties": {
          "category": { "type": "integer", "title": "分类" },
          "date": { "type": "string", "title": "日期" },
          "fromUser": { "$ref": "#/components/schemas/MessageFromUser", "title": "发送者" },
          "fullLink": { "type": "string", "title": "完整链接" },
          "id": { "type": "integer", "title": "消息ID" },
          "link": { "type": "string", "title": "链接" },
          "message": { "type": "string", "title": "消息内容" },
          "niceDate": { "type": "string", "title": "友好时间" },
          "publishDate": { "type": "integer", "title": "发布时间(时间戳)" },
          "title": { "type": "string", "title": "标题" },
          "userId": { "type": "integer", "title": "用户ID" }
        },
        "required": ["category", "fromUser", "id", "message", "publishDate", "title", "userId"],
        "title": "站内消息"
      },
      "MessageFromUser": {
        "type": "object",
        "properties": {
          "admin": { "type": "boolean" },
          "chapterTops": { "type": "array", "items": { "type": "string" } },
          "coinCount": { "type": "integer" },
          "collectIds": { "type": "array", "items": { "type": "integer" } },
          "email": { "type": "string" },
          "icon": { "type": "string" },
          "id": { "type": "integer" },
          "nickname": { "type": "string" },
          "password": { "type": "string" },
          "publicName": { "type": "string" },
          "token": { "type": "string" },
          "type": { "type": "integer" },
          "username": { "type": "string" }
        },
        "title": "消息发送者"
      },
      "ToolItem": {
        "type": "object",
        "properties": {
          "articleList": { "type": "array", "items": { "$ref": "#/components/schemas/Article" } },
          "author": { "type": "string" },
          "children": { "type": "array", "items": { "type": "string" } },
          "courseId": { "type": "integer" },
          "cover": { "type": "string" },
          "desc": { "type": "string", "title": "工具描述" },
          "id": { "type": "integer", "title": "工具ID" },
          "lisense": { "type": "string" },
          "lisenseLink": { "type": "string" },
          "name": { "type": "string", "title": "工具名称" },
          "order": { "type": "integer" },
          "parentChapterId": { "type": "integer" },
          "type": { "type": "integer" },
          "userControlSetTop": { "type": "boolean" },
          "visible": { "type": "integer" }
        },
        "required": ["id", "name"],
        "title": "工具项"
      },
      "ArticlePageData": {
        "type": "object",
        "properties": {
          "curPage": { "type": "integer", "title": "当前页" },
          "datas": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Article" },
            "title": "数据列表"
          },
          "offset": { "type": "integer", "title": "数据偏移量" },
          "over": { "type": "boolean", "title": "是否已越界" },
          "pageCount": { "type": "integer", "title": "分页总数" },
          "size": { "type": "integer", "title": "分页大小" },
          "total": { "type": "integer", "title": "数据总数" }
        },
        "required": ["curPage", "datas", "offset", "over", "pageCount", "size", "total"],
        "title": "文章分页数据"
      },
      "ArticlePageResult": {
        "type": "object",
        "properties": {
          "data": { "$ref": "#/components/schemas/ArticlePageData" },
          "errorCode": { "$ref": "#/components/schemas/ErrorCode" },
          "errorMsg": { "type": "string" }
        },
        "required": ["errorCode", "errorMsg"],
        "title": "文章分页响应"
      },
      "RankPageData": {
        "type": "object",
        "properties": {
          "curPage": { "type": "integer", "title": "当前页" },
          "datas": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Rank" },
            "title": "排行数据列表"
          },
          "offset": { "type": "integer", "title": "数据偏移量" },
          "over": { "type": "boolean", "title": "是否已越界" },
          "pageCount": { "type": "integer", "title": "分页总数" },
          "size": { "type": "integer", "title": "分页大小" },
          "total": { "type": "integer", "title": "数据总数" }
        },
        "required": ["curPage", "datas", "offset", "over", "pageCount", "size", "total"],
        "title": "积分排行分页数据"
      },
      "CoinDetailPageData": {
        "type": "object",
        "properties": {
          "curPage": { "type": "integer", "title": "当前页" },
          "datas": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/CoinDetail" },
            "title": "积分明细列表"
          },
          "offset": { "type": "integer", "title": "数据偏移量" },
          "over": { "type": "boolean", "title": "是否已越界" },
          "pageCount": { "type": "integer", "title": "分页总数" },
          "size": { "type": "integer", "title": "分页大小" },
          "total": { "type": "integer", "title": "数据总数" }
        },
        "required": ["curPage", "datas", "offset", "over", "pageCount", "size", "total"],
        "title": "积分明细分页数据"
      },
      "MessagePageData": {
        "type": "object",
        "properties": {
          "curPage": { "type": "integer", "title": "当前页" },
          "datas": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Message" },
            "title": "消息列表"
          },
          "offset": { "type": "integer", "title": "数据偏移量" },
          "over": { "type": "boolean", "title": "是否已越界" },
          "pageCount": { "type": "integer", "title": "分页总数" },
          "size": { "type": "integer", "title": "分页大小" },
          "total": { "type": "integer", "title": "数据总数" }
        },
        "required": ["curPage", "datas", "offset", "over", "pageCount", "size", "total"],
        "title": "消息分页数据"
      },
      "WanResult": {
        "type": "object",
        "properties": {
          "data": {
            "title": "数据",
            "nullable": true,
            "oneOf": [
              { "type": "string" },
              { "type": "integer" },
              { "type": "boolean" },
              { "type": "array" },
              { "type": "object" },
              { "type": "number" }
            ]
          },
          "errorCode": { "$ref": "#/components/schemas/ErrorCode" },
          "errorMsg": { "type": "string", "title": "响应信息" }
        },
        "required": ["errorCode", "errorMsg"],
        "title": "通用响应结构"
      }
    },
    "responses": {
      "UnauthorizedError": {
        "description": "未登录或登录已失效",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "data": { "title": "数据", "nullable": true },
                "errorCode": {
                  "type": "integer",
                  "description": "-1001 表示未登录",
                  "example": -1001
                },
                "errorMsg": {
                  "type": "string",
                  "example": "请先登录！"
                }
              },
              "required": ["errorCode", "errorMsg"]
            }
          }
        }
      }
    },
    "securitySchemes": {
      "cookieAuth": {
        "type": "apiKey",
        "in": "cookie",
        "name": "loginUserName",
        "description": "通过登录接口获取的Cookie认证，包含loginUserName和loginUserPassword"
      }
    }
  },
  "security": []
}